<section class="content-wheel js-wheel" id="c{{ element.getKey }}">
    <div class="container">
        <h2 class="heading heading--2 heading--primary">{{ element.header }}</h2>

        <div clasS="col-left">
            <div class="wheel">
                <figure class="wheel-image">
                    <img src="{{ element.getImageSquare.getPublicUrl }}" alt="{{ slide.getImageSquare.getAlternative }}" title="{{ slide.getImageSquare.getTitle }}"/>
                </figure>
                <ul class="wheel-items">
                    {% for slide in element.getContentWheelSlides %}
                        <li class="wheel-item">
                            <button class="wheel-dot">{{ slide.getTitle }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-right">
            {% for slide in element.getContentWheelSlides %}
                <div class="panel js-wheel-panel">
                    <div class="panel-header">
                        <h3 class="heading heading--5 heading--primary">{{ slide.getTitle }}</h3>
                        {{ sprite_inline('arrow') }}
                    </div>
                    <div class="panel-body">
                        <div class="bodytext">{{ slide.getBodyText|raw }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
