<section class="content-wheel js-wheel" id="c{{ element.getKey }}">
    <div class="container">
        <h2 class="heading heading--2 heading--primary heading--underline-big">{{ element.header }}</h2>

        <div clasS="col-left">
            <div class="wheel wheel--{{ element.getContentWheelSlides|length }} js-wheel-container">
                <figure class="wheel-image">
                    <img src="{{ element.getImageSquare.getPublicUrl }}" alt="{{ slide.getImageSquare.getAlternative }}" title="{{ slide.getImageSquare.getTitle }}"/>
                </figure>
                <ul class="wheel-items">
                    {% for slide in element.getContentWheelSlides %}
                        <li class="wheel-item js-wheel-item" data-index="{{ loop.index0 }}">
                            <button class="wheel-dot">{{ slide.getTitle }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="slider-controls">
                <a class="slider-controls--prev js-wheel-prev" href="javascript:void(0);"></a>
                <a class="slider-controls--next js-wheel-next" href="javascript:void(0);"></a>
            </div>
        </div>

        <div class="col-right">
            <div class="panel-container">
                {% for slide in element.getContentWheelSlides %}
                    <div class="panel js-wheel-panel">
                        <div class="panel-header">
                            <h3 class="heading heading--5 heading--primary">{{ slide.getTitle }}</h3>
                            {{ sprite_inline('arrow') }}
                        </div>
                        <div class="panel-body">
                            <div class="bodytext">{{ slide.getBodyText|raw }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
