<header>
    <div class="container">
        <a href="/" class="logo">
            <img src="/dist/images/logo.png">
            <h1>{{ root.title }}</h1>
        </a>

        <ul class="navigation">
            {% for uid,title in navigation %}
                <li><a href="#c{{ uid }}" class="js-scroll-to">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</header>

<main>
    ###CONTENT0###
</main>

<footer>
    <p>World of Warcraft Gilde, EU-{{ realm_name }}, {{ fraction_name }}, {{ guild_name }}</p>
    <p><a href="mailto:admin@aricura.com">admin@aricura.com</a></p>
</footer>
