<div clasS="raid-item">
    <figure class="image">
        <img src="{{ raid.getImage.getPublicUrl }}" alt="{{ raid.getImage.getAlternative }}" title="{{ raid.getImage.getTitle }}"/>
    </figure>
    <div class="content">
        <p class="heading heading--5 heading--primary">{{ raid.title }}</p>

        {% if raid.getNormalBossKills > 0 or raid.getHeroicBossKills > 0 or raid.getMythicBossKills > 0 %}
            <ul>
                <li class="{{ raid.isNormalClear ? 'cleared' : 'in-progress' }}">
                    <p class="heading heading--3">{{ raid.getNormalBossKills }}</p>
                    <p class="difficulty">normal</p>
                    <i class="icon"></i>
                </li>
                <li class="{{ raid.isHeroicClear ? 'cleared' : 'in-progress' }}">
                    <p class="heading heading--3">{{ raid.getHeroicBossKills }}</p>
                    <p class="difficulty">heroic</p>
                    <i class="icon"></i>
                </li>
                <li class="{{ raid.isMythicClear ? 'cleared' : 'in-progress' }}">
                    <p class="heading heading--3">{{ raid.getMythicBossKills }}</p>
                    <p class="difficulty">mythic</p>
                    <i class="icon"></i>
                </li>
            </ul>
        {% endif %}
    </div>
</div>
